@charset "utf-8";

BASE_COLOR = #053284;
COLOR_BUTTON = #c9302c;
PRIMARY_COLOR = #2185d0;
COLOR_SELECT = darken(PRIMARY_COLOR, 30%);

body {
  background #eeeeee
}

// override
.text-primary
  color PRIMARY_COLOR
.btn-primary
  background PRIMARY_COLOR
  &:hover
  &:active
    background darken(#2185d0,10%)
.btn
  border none

/* CSS Document */
/*微信投票*/
.vote_wrap{ width:100%;}
article{ background:#fff; border-bottom:2px solid #33ab07}
.img-header
  position relative
  min-height 1em;
  h4
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    padding:10px;
    background-color: rgba(darken(BASE_COLOR, 50%), 0.5);
    color:#fff
    word-break break-all
    margin 0
.time{ margin:0 10px 10px; color:#33ab07}
article .info{ margin:0 15px 15px; color:red;font-size: 21px;font-weight: bolder}
.choice_list{ padding:10px;}
.databar{height:10px;margin:5px 12px 0 0;border-radius:4px; background:#fff; border:1px solid #33ab07; }
.actual_data{height:10px;border-radius:3px; background:#33ab07;}
.vote_type{ margin:10px 10px 0; color:#fff; line-height:1.5em}
.choice_list li{ margin:10px 0; background:#fafafa; padding:10px; border-radius:5px;}
.choice_list li img{ max-width:100%;}
.choice_list .databar{ -webkit-box-flex:9;}
.choice_list .count{ -webkit-box-flex:1;}

.vote-container
  padding 10px
  background #fff
  margin-bottom 10px
  box-shadow 0 2px 5px -2px #999
  .header
    color BASE_COLOR

  .remark
    color grey

  .detail-name
    margin-top 0

  .detail
    word-break break-all
    img
      max-width 100%

.container-fullwidth
  width 100%

ul.vote-list
  list-style none
  padding 0
  margin-left -10px
  margin-right -10px
  &.image
    li.item
      display inline-block
      vertical-align top
      width 50%

  &.text
  &.image
    li.item
      a
        color black
        &:hover
        &:active
          color black
      padding 10px
      .item-wrapper
        padding 5px
        display inline-block
        box-shadow 0 0 2px #999
        width 100%
        .img-wrapper
          min-height 100px
          img
            width 100%
            margin auto
        .title
          line-height 2
          text-overflow ellipsis
          overflow hidden
          font-weight bold
          text-align center
        .status
          margin-bottom 5px
          font-size 0.8em
        .select
          display block
          &.selected
            background COLOR_SELECT
            .glyphicon
              display inline!important

.vote-result
  padding 0
  list-style none

.option-wrapper
  padding 10px 0
  .img-wrapper
    padding-right 10px
    width 40%
  img
    width 100%