<php>$is_img = $info['is_img'] == 1;</php>
<div class="vote-container vote-candidate">
    <div class="header">
        <img src="{:ADDON_PUBLIC_PATH}/image/people.png">
        候选介绍
    </div>
    <foreach name="opts" item="opt" key="i">
        <div class="option-wrapper clearfix">
            <if condition="$is_img">
                <div class="option-avatar">
                    <img src="{$opt.image|get_cover_url}" class="img-circle img-responsive" data-id="{$opt.image}">
                </div>
            </if>
            <div class="option-content">
                <div class="label label-prompt">{$i+1}</div>
                <div class="name">{$opt.name}</div>
                <div class="quote"></div>
                <div class="detail">{$opt.description}</div>
            </div>
        </div>
    </foreach>
    <script>
        var imageIDList = [
                <foreach name="opts" item="opt">{$opt.image},</foreach>
        ];
        var srcList = [
                <foreach name="opts" item="opt">'{$opt.image|get_cover_url}',</foreach>
        ];
    </script>
</div>
