<notempty name="info.picurl">
    <div class="img-header">
        <img width="100%" src="{$info.picurl|get_cover_url}">
    </div>
</notempty>
<if condition="$joinError eq 1 or $canJoin eq 0">
    <div class="vote-container">
        <div class="header">
            <switch name="overtime">
                <case value="1">活动暂未开始,请等待</case>
                <case value="-1">活动已经结束,感谢参与</case>
                <case value="0">
                    <if condition="$canJoin">
                        请您关注 {$app.public_name} 微信号
                    <else/>
                        您已经投过票了
                    </if>
                </case>
            </switch>
        </div>
    </div>
</if>
<div class="vote-container">
    <div class="header">
        <img src="{:ADDON_PUBLIC_PATH}/image/description.png">
        活动说明
    </div>
    <div class="content">{$info.description|htmlspecialchars_decode}</div>
</div>
<div class="vote-container">
    <div class="header">
        <img src="{:ADDON_PUBLIC_PATH}/image/rule.png">
        投票规则
    </div>
    <div class="content">
        <ul class="vote-rule">
            <if condition="($info.start_date eq 0) and ($info.end_date eq 0)">
                <li>时间限制: 无时间限制</li>
            </if>
            <if condition="($info.start_date neq 0) and ($info.end_date eq 0)">
                <li>时间限制: {$info.start_date|time_format} 开始, 无结束时间限制</li>
            </if>
            <if condition="($info.start_date eq 0) and ($info.end_date neq 0)">
                <li>时间限制: {$info.end_date|time_format} 结束</li>
            </if>
            <if condition="($info.start_date neq 0) and ($info.end_date neq 0)">
                <li> 时间限制: {$info.start_date|time_format} 至 {$info.end_date|time_format} </li>
            </if>
            <php>$type = $info['type'] == 0 ? 'radio' : 'checkbox';</php>
            <li> 本次投票为 "{$info['type'] == 0 ? '单选投票' : '多选投票'}", 最少选择 {$info.min_num} 项 </li>
            <if condition="$info.is_fans eq 1">
                <if condition="$app">
                    <li> 本次投票请在关注微信帐号 {$app.public_name} 后使用 </li>
                <else/>
                    <li> 本次投票请在关注微信后使用 </li>
                </if>
            </if>
            <li>请您在喜欢的选项下面点击“为他投票”进行选择,最后统一点击提交生效此次投票</li>
        </ul>
    </div>
    <div class="remark">
    </div>
</div>
