<!DOCTYPE HTML>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width,inital-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <title>{$info.title}</title>
    <link href="__STATIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{:ADDON_PUBLIC_PATH}/vote.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <script type="text/javascript">
        var cknums = {$info.cknums|intval};
        var type = "{$info.type|intval}";
        function checkForm(){
            return true;

            if(type=='0') return true;

            var content = '';
            var msg = 0;
            $("input[type='checkbox']:checked").each(function(){ msg += 1; });
            //console.log(msg);
            //return false;
            if(msg>cknums){
                $('#errorInfo').html('该投票最多可同时选择'+cknums+'项').show();
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
<include file="Addons://PowerVote@Partial/vote_common"/>
<div class="vote-container">
    <div class="header">
        投票列表
        <div class="addon pull-right">
            <a href="{:U('result', Array('id' => $vote_id))}">查看投票结果 &gt;</a>
        </div>
    </div>
    <php>$is_img = $info['is_img'] == 1;</php>
    <form action="{:U( 'join' )}" onSubmit="return checkForm();" method="post" id="vote_form">
        <ul class="vote-list clearfix {$is_img?'image':'text'}">
            <foreach name="opts" item="opt" key="k">
                <li class="item">
                    <div class="item-wrapper">
                        <if condition="$is_img">
                            <div class="img-wrapper">
                                <img src="{$opt.image|get_cover_url}">
                            </div>
                        </if>
                        <div class="title">{$opt.name}</div>
                        <if condition="$canJoin">
                            <label class="btn btn-primary select">
                                <input type="{$type}" value="{$opt.id}" name="optArr[]" style="display: none">
                                投他一票
                            </label>
                        </if>
                    </div>
                </li>
            </foreach>
        </ul>

        <div class="warning" id="errorInfo"></div>
        <input type="hidden" value="{:I('token')}" name="token" />
        <input type="hidden" value="{:I('wecha_id')}" name="wecha_id" />
        <input type="hidden" value="{$info.id}" name="vote_id" />
        <php>if($canJoin) { </php>
        <div class="tb"><input type="submit" class="btn btn-primary form-control" value="确认提交" /></div>
        <php> } </php>
    </form>
</div>
<script src="{:ADDON_PUBLIC_PATH}/vote.js?v={:SITE_VERSION}"></script>
<script>
    $(function(){

        var voteOptions = $('#vote_form').find('input[name="optArr[]"]').change(function(e) {
            voteOptions.each(function() {
                var $this = $(this);
                $this.is(':checked') ? $this.parent().addClass('selected') : $this.parent().removeClass('selected');
            })
        });
    });
</script>
</body>
</html>
